@import '@carbon/themes/scss/themes';

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

$feature-flags: (ui-shell: true);

@import 'carbon-components/scss/globals/scss/styles.scss';

@import '@carbon/grid/scss/grid';

#main-content {
  background-color: #f4f4f4;
}

.bx--data-table th.bx--table-expand + .bx--table-column-checkbox, .bx--data-table td.bx--table-expand + .bx--table-column-checkbox {
  padding-right: 1rem;
}

.table-cell {
  &__supported {
    fill: $inverse-support-02;
  }
}
