@import '@carbon/themes/scss/themes';

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

$feature-flags: (ui-shell: true);

@import 'carbon-components/scss/globals/scss/styles.scss';

@import '@carbon/grid/scss/grid';

#main-content {
  background-color: #f4f4f4;
}

.bx--data-table th.bx--table-expand + .bx--table-column-checkbox, .bx--data-table td.bx--table-expand + .bx--table-column-checkbox {
  padding-right: 1rem;
}

.table-cell {
  &__checkmark {

    &.--supported {
      fill: $inverse-support-02;
    }

    &.--not-supported {
      fill: $inverse-support-01;
    }
    
    
  }
}

.update-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 1rem 0;

  &__update-btn {
    grid-row: 2;
    grid-column: 1 / span 2;  
  }

  &__input {
    &--checkbox {
      margin: 1.75rem 0;
    }
  }
}